<app-header></app-header>

<!-- ============== SECTION PAGETOP ============== -->
<br/>
<section class="padding-y-sm color">
   <div class="container color py-3">
      <a class="text-white" routerLink="/home">Home</a>
      /
      <a class="breadcrumb-item active text-white" aria-current="page">Cart</a>
   </div>
    <!-- container //  -->
</section>
 <!-- ============== SECTION PAGETOP END// ============== -->
<section class="padding-y bg-light p-5">
   <div class="container">
      <!-- =================== COMPONENT CART+SUMMARY ====================== -->
      <div class="row">
         <div class="col-lg-9">
            <div class="card p-4">
               <div class="content-body">
                  <div class="d-flex justify-content-between align-items-center">
                     <h4 class="card-title mb-4">Your shopping cart</h4>
                     <a *ngIf="cartItems.length> 0" class="" style="cursor:pointer;" (click)="clearCart()">Clear</a>
                  </div>
                  <div *ngIf="cartItems.length > 0">
                     <article class="row gy-3 mb-4 d-flex align-items-center" *ngFor="let item of cartItems">
                        <div class="col-lg-5">
                           <figure class="itemside me-lg-5">
                              <div class="aside" style="display: flex; align-items: center;">
                                 <img width="60" height="60" src="{{getImage(item.product.productImages)}}">
                                 &nbsp; &nbsp;
                                 <figcaption class="info mt-3">
                                    <p class="text-muted"> {{item.product.productName}} </p>
                                 </figcaption>
                              </div>
                              
                           </figure>
                        </div>
                        <div class="col-lg-3">
                           <label class="form-label d-block">Quantity</label>
                           <div class="input-group input-spinner">
                              <button class="btn btn-icon btn-light" type="button" (click)="updateCart(item.product.productId, item.productQuantity-1)">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                                    <path d="M19 13H5v-2h14v2z"></path>
                                 </svg>
                              </button>
                              <input class="form-control text-center" placeholder="" [(ngModel)]="item.productQuantity">
                              <button class="btn btn-icon btn-light" type="button" (click)="updateCart(item.product.productId, item.productQuantity+1)">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">
                                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                                 </svg>
                              </button>
                           </div>
                           <!-- input-group.// -->
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6">
                           <div class="price-wrap lh-sm"> 
                              <var class="price h6">&#8377;{{item.product.productPrice * item.productQuantity}}</var>  <br>
                              <small class="text-muted"> &#8377;{{item.product.productPrice}} / per item </small> 
                           </div>
                           <!-- price-wrap .// -->
                        </div>
                        <div class="col-lg col-sm-4">
                           <div class="float-lg-end">
                              <a class="btn btn-light text-danger" (click)="updateCart(item.product.productId, 0)"> Remove</a>
                           </div>
                        </div>
                     </article>
                     <!-- row.// -->
                  </div>
                  <div style="display: flex; align-items: center; justify-content: center;" *ngIf="cartItems.length == 0">
                     <img src="http://hsnbazar.com/images/empty-cart.png" alt=""empty-cart>
                  </div>
               </div>
               <br/>
               <!-- card-body .// -->
               <div class="content-body border-top pt-3">
                  <p><i class="me-2 text-muted fa-lg fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
               </div>
               <!-- card-body.// -->
            </div>
            <!-- card.// -->
         </div>
         <!-- col.// -->
         <aside class="col-lg-3">
            <div class="card mb-3">
               <div class="card-body">
                  <form>
                     <div class="form-group">
                        <label class="form-label">Have coupon?</label>
                        <div class="input-group">
                           <input type="text" class="form-control" name="" placeholder="Coupon code">
                           <button class="btn btn-light">Apply</button>
                        </div>
                     </div>
                  </form>
               </div>
               <!-- card-body.// -->
            </div>
            <!-- card.// -->
            <div class="card">
               <div class="card-body">
                  <dl class="dlist-align">
                     <dt>Total price:</dt>
                     <dd class="text-end"> &#8377;{{cartItems.length> 0 ? cartItems[0].cart.totalCost : 0}}</dd>
                  </dl>
                  <dl class="dlist-align">
                     <dt>Discount:</dt>
                     <dd class="text-end text-success"> - &#8377;{{ cartItems.length> 0 ? cartItems[0].cart.discount : 0}} </dd>
                  </dl>
                  <dl class="dlist-align">
                     <dt>Total:</dt>
                     <dd class="text-end text-dark h5"> &#8377;{{ cartItems.length> 0 ? (cartItems[0].cart.totalCost) - (cartItems[0].cart.discount) : 0}} </dd>
                  </dl>
                  <div class="d-grid gap-2 my-3">
                     <a *ngIf="cartItems.length> 0" class="btn btn-success w-100" routerLink="/checkout"> Make Purchase </a>
                  </div>
               </div>
               <!-- card-body.// -->
            </div>
            <!-- card.// -->
         </aside>
         <!-- col.// -->
      </div>
      <!-- row.// -->
      <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->
      <br><br>
   </div>
   <!-- container .//  -->
</section>
<!-- ============== SECTION  ============== -->

<app-footer></app-footer>