<div class="main-container">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form #Form="ngForm" (ngSubmit)="registerUser(register)">
                <h1>Create Account</h1>
                <input type="text" placeholder="Username" name="name"  [(ngModel)]="register.userName"/>
                <input type="email" placeholder="Email" name="email" [(ngModel)]="register.userEmail"/>
				<input type="password" placeholder="Password" name="password" [(ngModel)]="register.userPassword"/>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" routerLink="/login">Login</button>
                </div>
            </div>
        </div>
    </div>
    
</div>